AIRFLOW__CORE__DAGBAG_IMPORT_TIMEOUT=60
AIRFLOW__DAG_PROCESSOR__DAG_FILE_PROCESSOR_TIMEOUT=120

# for the event driven scheduling example
AIRFLOW_CONN_AWS_DEFAULT='{
    "conn_type":"aws",
    "login":"<your-aws-access-key>",
    "password":"<your-aws-secret-key>",
    "extra": {
        "region_name":"<your-aws-region>"
    }
}'

SQS_QUEUE_URL="https://sqs.<your-aws-region>.amazonaws.com/<your-aws-account-id>/<your-queue-name>"

# Configs to use a GitDagBundle to load your dags from a git repository
AIRFLOW_CONN_GIT_DEFAULT='{
    "conn_type": "git",
    "host": "https://github.com/TJaniF/dag-bundle-test", 
    "password": "github_pat_<your-token>" 
}'

# Config to use 1 LocalDagBundle plus 1 GitDagBundle
AIRFLOW__DAG_PROCESSOR__DAG_BUNDLE_CONFIG_LIST='[
    {
        "name": "local-dags-folder",
        "classpath": "airflow.dag_processing.bundles.local.LocalDagBundle",
        "kwargs": {}
    },
    {
        "name": "my-favorite-git-bundle",
        "classpath": "airflow.providers.git.bundles.git.GitDagBundle",
        "kwargs": {
            "git_conn_id": "git_default",
            "subdir": "dags", 
            "tracking_ref": "main",
            "refresh_interval": 10
        }
    }
]'


